<div class="">use Drupal\Core\Form\ConfigFormBase;
use Drupal\Core\Form\FormStateInterface;
    <table class="table table-bordered table-horizontal-container">
      <thead>
        <tr>
          {% for items in header %}
            <th>{{ items }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for key, row in rows %}
        <tr>
          <td>{{ row['fname'] }}</td>
          <td>{{ row['sname'] }}</td>
          <td>{{ row['age'] }}</td>
          <td>{{ row['email'] }}</td>
          <td>{{ row['gender'] }}</td>
          <td>{{ row['marks'] }}</td>
          <td>{{ row['edit'] }}</td>
          <td>{{ row['delete'] }}</td>
        </tr>
       {% endfor %}
      </tbody>
      
      
    </table>